@font-face {
  font-family: "GothamPro";
  src: url("../Fonts/GothamPro/GothaProReg.otf");
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: "GothamPro";
  src: url("../Fonts/GothamPro/GothaProBol.otf");
  font-style: normal;
}

@font-face {
  font-family: "GothamPro";
  src: url("../Fonts/GothamPro/GothaProLig.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "GothamNarrow";
  src: url("../Fonts/GothamNarrow/GothamNarrow-Book.otf");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../Fonts/GothamNarrow/GothamNarrow-Black.otf");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "GothamNarrow";
  src: url("../Fonts/GothamNarrow/GothamNarrow-Light.otf");
  font-style: normal;
  font-weight: 300;
}

@font-face {
  font-family: "Helvetica";
  src: url("../Fonts/Helvetica/HelveticaRegular.woff"), url("../Fonts/Helvetica/HelveticaRegular.eot");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Helvetica";
  src: url("../Fonts/Helvetica/HelveticaBold.woff"), url("../Fonts/Helvetica/HelveticaBold.eot");
  font-style: normal;
  font-weight: 700;
}
