.Container-company {

  border-radius: 2px;
  background: #FFFFFF;
  box-shadow: 0px 4px 11px rgba(0, 0, 0, 0.09);
  border-radius: 2px;
  margin-left: 20px;
  margin-right: 25px;
  display: grid;
  grid-template-columns: 0.9fr 0.9fr 0.2fr 1fr 0.2fr 1fr 0.2fr 1.3fr 1fr;
  padding: 5px 0px 5px 0px;

  justify-content: left;
  align-items: center;
}

.container-logo{
  margin-left: 40px ;
  height: 80px;
  display: inline-grid;
  align-content: center;

}

.Container-text-company{
  height: 18px;
  //width: 115px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 140%;
  color: #333333;
  display: flex;
}

.button-120x30{
  height: 30px;
  width: 120px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BDBDBD;
}
.button-167x30{
  height: 30px;
  width: 167px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #BDBDBD;
}

.circle{
  height: 26px;
  width: 26px;
  background: #C4C4C4;
  border-radius: 26px;
}