
.d-flex{
  display: flex;
}

.d-grid{
  display: grid;
}

.j-c-left{
  justify-content: left;
}
.j-c-center{
  justify-content: center;
}

.align-items-center{
  align-items: center;
}

.flex-direction-row{
  flex-direction: row;
}

.position-absolute{
  position: absolute;
}