.m-l-5 {
  margin-left: 5px;
}

.m-l-10 {
  margin-left: 10px;
}

.m-l-12 {
  margin-left: 12px;
}

.m-l-20 {
  margin-left: 20px;
}
.m-l-60 {
  margin-left: 60px;
}

.m-l-80 {
  margin-left: 80px;
}
.m-l-90 {
  margin-left: 90px;
}
.m-l-100 {
  margin-left: 100px;
}
.m-l-130 {
  margin-left: 130px;
}

.m-t-5 {
  margin-top: 5px;
}
.m-t-10 {
  margin-top: 10px;
}
.m-t-12 {
  margin-top: 12px;
}
.m-t-20 {
  margin-top: 20px;
}
.m-t-25 {
  margin-top: 25px;
}
.m-t-50 {
  margin-top: 50px;
}
.m-t-100 {
  margin-top: 200px;
}