.background-color-F3F3F3 {
  background: #F3F3F3;
}

.background-color-1D1D1D {
  background: black;
}

.background-color-909090 {
  background: #909090;
}

.write-color-white {
  color: #FFFFFF;
}

.write-color-909090 {
  color: #909090;
}

.write-color-black {
  color: #1D1D1D;
}

.write-color-gold {
  color: #BFA764;
}

.border-bottom-gold {
  border-bottom: 2px solid #BFA764;
}

.border-right-grey {
  border-right: 2px solid #909090;
}

.border-left-grey {
  border-left: 2px solid #909090;
}

.Helvetica {
  font-family: Helvetica;
}

.font-weigh-bold {
  font-weight: bold;
}

.font-size-16px {
  font-size: 16px;
}
.font-size-14px {
  font-size: 14px;
}
.font-size-12px {
  font-size: 12px;
}