body{
  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
}

.App {
  display: grid;
 grid-gap: 1em;
  width: 100%;
  padding: 20px;
  margin: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  border: 0;

}
.button-color-black{
  background: #000000;
}

.button-color-gold{
  background: #BFA764;
}

.button-color-white{
  background: #FFFFFF;
}
.button-color-grey{
  background: #C4C4C4;
}

.button-color-#F3F3F3{
  background: #F3F3F3;
}
.write-color-black {
  color: #000000;
}
.write-color-white{
  color: #FFFFFF;
}
.write-color-gold{
  color: #BFA764;
}

.button-usual {
  width: 184px;
  height: 34px;
  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 12px;
  line-height: 140%;
  /* or 17px */
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border-radius: 4px;
  margin: 5px;

}

.Headline-container{
  width: 489px;
  height: 364px;
  left: 2463px;
  top: 860px;
  background: #BDBDBD;
  padding: 20px;

}
.Headline-container-White{
  width: 440px;
  height: 300px;
  left: 2487px;
  top: 885px;
  background: #FFFFFF;
}
.Headline-rectangle-white-392x21{
  width: 392px;
  height: 21px;
  left: 2511px;
  top: 932px;

  font-family: Helvetica;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #333333;

  padding: 47px 24px 232px 24px ;
}

.Headline-rectangle-white-227x17{
  width: 390px;
  height: 34px;


  font-family: Helvetica;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  /*line-height: 140%;*/
  display: flex;
  align-items: center;
  justify-content: left;

  padding: 20px 0px 0px 0px;
}
.place-holder{
  width: 390px;
  height: 34px;
  left: 22px;
  top: 2px;;

  background: #FFFFFF;
  border: 1px solid #BDBDBD;
  box-sizing: border-box;
  border-radius: 2px;}

 .Paragraph-style{
   width: 392px;
   height: 44px;
   left: 2512px;
   top: 1040px;

 }
.Paragraph-style-1{
  font-size: 14px;
  line-height: 140%;

  color: #909090;

  display: flex;
  align-items: center;
  justify-content: left;
  padding: 10px 0px 0px 0px;
}

.place-holder-1{
  color: #C4C4C4;
  font-size: 12px;
  line-height: 120%;


  display: flex;
  align-items: center;
  justify-content: left;
}

.calendar-rectangle-white{
  width: 350px;
  height: 630px;
  left: 2017px;
  top: 394px;
  border-radius: 2px;

}
.calendar-rectangle-grey{
  width: 352px;
  height: 800px;
  left: 2019px;
  top: 396px;
  border-radius: 2px;


}
.calendar-line-grey{
  width: 352px;
  height: 1px;
  left: 2019px;
  top: 396px;
  padding: 0px 0px 0px 0px ;

}
.calendar-rectangle-324x180{
  width: 324px;
  height: 180px;
  left: 2017px;
  top: 394px;
  border-radius: 2px;
  padding: 5px 5px 5px 10px;

}
.calendar-rectangle-324x161{
  width: 324px;
  height: 161px;
  left: 2017px;
  top: 394px;
  border-radius: 2px;
  padding: 5px 5px 5px 10px;

}

.calendar-container {
  width: 350px;
  background: #C4C4C4;
  border-radius: 2px;
  padding: 20px 15px 15px 15px;

}

.button-Active-User-Name{
display: grid;
  grid-template-columns: 1fr 3fr 1fr;
  height: 36px;
  width: 200px;
  background: #F3F3F3;

}


.Active-User-Name{

  border-radius: 2px;
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
  font-style: normal;
  display: flex;
  font-size: 12px;
  line-height: 140%;

}

.Ellipse-grey{
  height: 5px;
  width: 5px;
  background: #BDBDBD;
  border-radius: 2px;
  margin: 0px;
  display: flex;
  align-content: center;
  align-items: center;
  text-align: center;
}

.Ellipse-white{
  height: 20px;
  width: 20px;
  background: #FFFFFF;
  border-radius: 20px;
  margin: 0px;
  display: flex;
}

.color-white {
  color: white;
}

.week-header{
  color: #909090;
}
.days-header{
  color: #000000;
}

.calendar-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-row-gap: 20px;
  align-items: center;
  text-align: center;
  grid-auto-rows: 44px;
  margin: 15px;
}

.day-selected-dark {
  background: #BFA764;
  border-radius: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-selected-light-1 {
  background: #F1DA99;
  border-radius: 50%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.day-selected-light-2 {
  background: #F1DA99;
  border-radius: 0%;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.last-column {
  grid-column: -1 / -2;
}

.f-s-14{
  font-size: 14px;

}

.f-s-18{
  font-size: 18px;
  padding: 10px 120px ;
}

.pudding20x15x15x15{
  padding: 20px 15px 15px 15px;
}

.pudding5x5x5x5{
  padding: 5px 5px 0px 0px;
}


.p-50 {
  padding: 50px;
}

.pos-relative {
  position: relative;
}

.input-underline {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
}

.w-100-percent {
  width: 100%;
}

vector-cross{
  left: 0%;
  right: 100%;
  top: -0.01%;
  bottom: 0.71%;
  padding: 20px 15px 15px 15px;

}